.ImageBG{
    height: 200px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
}
.ImageBG:hover{
    background-color: #303133;
    border: none;
}
.Details:hover{
    background-color: rgba(34, 34, 34, 0.377);
    padding: 10px;
    border-radius: 5px;
}
.SeeMoreButton{
    color: white;
    text-align: center;
    padding: 7px;
    background-color: #303133;
    border: 1px solid white;
    width: 150px;
}
.SeeMoreButton:hover{
    color: black;
    background-color: whitesmoke;
    transition: all 1s ease;
}
.H1{
    color: rgba(255, 255, 255, 0.699);
}
.H6{
    color: rgb(155, 155, 155);
}
.Preview{
    text-decoration: none;
    color: rgb(155, 155, 155);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    border: 1px solid white;
    transition: all .3s ease-in ;
}
.Preview:hover{
    color: black;
    padding: 5px;
    font-weight: bold;
    background-color: white;

}