.Images{
    height: 230px;
    transition: all .5s ease-in-out;
}
.Images:hover{
    padding: 10px;
    background: linear-gradient(to right, red, purple);
}
.SeeMoreButton{
    color: white;
    text-align: center;
    padding: 7px;
    background-color: #303133;
    border: 1px solid white;
    width: 150px;
}
.SeeMoreButton:hover{
    color: black;
    background-color: whitesmoke;
    transition: all 1s ease;
}
.Details{
    width: 100px;
    color: white;
    text-align: center;
    padding: 3px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #303133;
    border: 1px solid white;
}
.Details:hover{
    color: black;
    background-color: whitesmoke;
    transition: all 1s ease;
}
#Project1_Details1{
    display: none;
}
#Project1_Details2{
    display: none;
}
#Project1_Details3{
    display: none;
}
#Project1_Details4{
    display: none;
}