.SeeMoreButton{
    color: white;
    text-align: center;
    padding: 7px;
    background-color: #303133;
    border: 1px solid white;
    width: 150px;
}
.SeeMoreButton:hover{
    color: black;
    background-color: whitesmoke;
    transition: all 1s ease;
}

.Card{
    position: relative;
    width: 100%;
    height: 200px;
    border-left: 3px solid;
    border-image: linear-gradient(rgb(255, 72, 0), rgb(255, 167, 116)) 0 100%;
    overflow: hidden;
}
.Card:hover{
    border-image: linear-gradient(green, greenyellow) 0 100%;
}

.Card_Images{
    width: 100%;
    height: 100%;
    opacity: .8;
}

.Description{
    top: 60%;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}
.Description:hover{
    top: 0;
    opacity: 1;
}

.Card_Title {
    font-size: 22px;
    color: rgb(187, 255, 0);
    font-weight: bold;
    margin: 0;
}

.Card_Description {
    font-size: 14px;
    color: rgb(201, 201, 201);
}

.Preview--Button{
    border: none;
    outline: none;
    font-size: 14px;
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0);
}
.Preview--Button:hover{
    color: white;
    border-left: 2px solid green;
}
.Details--Button{
    border: none;
    outline: none;
    font-size: 14px;
    margin-left: 40px;
    color: greenyellow;
    background-color: rgba(0, 0, 0, 0);
}
.Details--Button:hover{
    color: white;
    border-left: 2px solid green;
}