.Articles{
    background-color: rgba(17, 17, 41, 0.205);
    color: white;
    width: 20rem;
    border-width: 1px;
    border-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.733), rgba(0, 0, 0, 0)) 1 100%;
}