.Articles{
    background-color: rgba(17, 17, 41, 0.205);
    color: white;
    width: 20rem;
    height: 375px;
    border-width: 1px;
    border-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.733), rgba(0, 0, 0, 0)) 1 100%;
}
.Article--Details{
    border: 1px solid white;
    padding: 3px 20px 5px 20px;
    text-decoration: none;
    color: white;
    background-color: #303133;
}
.Article--Details:hover{
    border: none;
    color: black;
    background-image: linear-gradient(to right, rgb(1, 145, 20) 0%, rgb(1, 65, 12) 100%);
}