.InsideOfBrain{
    background-color: #303133;
}

.Skills{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: auto;
    padding-top: 60px;
}