#Image{
    width: 150px;
    height: 200px;
    border: 10px solid white;
}
.Icon1{
    margin-top: -10px;
    margin-right: 10px;
    color: rgb(52, 96, 219);
    font-size: 22px;
}
.Icon1:hover{
    color: rgb(0, 51, 218);
}
.Icon2{
    margin-top: -10px;
    margin-right: 10px;
    color: rgb(83, 83, 83);
    font-size: 22px;
}
.Icon2:hover{
    color: white;
}
.Icon3{
    margin-top: -10px;
    margin-right: 10px;
    color: rgb(0, 69, 173);
    font-size: 22px;
}
.Icon3:hover{
    color: rgba(0, 21, 114, 0.986);
}