#Social{
    font-size: 22px;
    color: white;
    font-family: 'Oswald', sans-serif;
    border-bottom: 1.5px solid yellowgreen;
  }
  #Social-Icon1{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.336);
    margin: 10px;
  }
  #Social-Icon1:hover{
    color: #2c54d4;
    border-radius: 20px;
    background-color: white;
  }
  #Social-Icon2{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.425);
    margin: 10px;
  }
  #Social-Icon2:hover{
    color: white;
  }
  #Social-Icon3{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.363);
    margin: 10px;
  }
  #Social-Icon3:hover{
    color: #0077B5;
  }